body {
  margin: 0;
}
pre {
  display: inline-block;
  min-width: 1em;
  color: lightgreen;
  background-color: black;
  margin: 1px;
  font-size: 2em;
  text-align: center;
}

body > div {
  font-family: Sans-serif;
  display: flex;
  flex-direction: column;
}

body > div > div:first-child {
  display: block;
  width: 100%;
  background-color: lightgrey;
  max-height: 50px;
}

h1 {
  margin: 0px;
  padding: 0.2em;
}

a {
  text-decoration: none;
}

body > div > div:nth-child(2) {
  display: flex;
  min-height: calc(50px - 100vh);
}

body > div > div:nth-child(2) > div:first-child {
  order: 1;
  min-width: 50%;
  max-width: 50%;
  padding: 0px 1em;
}

body > div > div:nth-child(2) > div:first-child > div {
  line-height: 1.6em;
  width: 1 00%;
  max-height: calc(-275px + 100vh);
}

article > pre {
  text-align: left;
}

textarea {
  min-width: calc(100% - 1.5em);
  max-height: calc(100vh - 300px);
  min-height: calc(100vh - 200px);
  font-size: 1.5em;
  padding: 0.5em;
  line-height: 1.1em;
}

main {
  order: 2;
  padding: 0px 1em;
}

main table:nth-of-type(1) {
  border: 1px solid black;
}

main table:nth-of-type(1) tbody {
  border: 1px solid black;
  font-family: monospace;
}

main table:nth-of-type(1) td {
  width: 2em;
  text-align: center;
}

main table:nth-of-type(2) {
  border: 1px solid black;
  font-family: monospace;
}

main table:nth-of-type(2) td {
  width: 2em;
  text-align: center;
}

button {
  margin-bottom: 1em;
}

.instruction-pointer {
  background-color: lightblue;
}
.stack-pointer {
  background-color: coral;
}
.stack {
  background-color: orange;
}
.standard-out {
  background-color: lightgrey;
}
.null-byte {
  background-color: #ece7e7;
}
.base {
  background-color: seashell;
}
